# Ignore all node_modules
node_modules/*
# but dont ignore the SYMLINK in node_modules
!node_modules/APP

# Compiled JS
public/bundle.js
public/bundle.js.map

# NPM errors
npm-debug.log

# ignore project detail folders
wireframes
rubric
